---
---

:root {
    background-color: black;
    color: lightgreen;
    @media screen and (min-width: 576px) {
        padding: 0 10%
    }
}

h1 {
    text-align: center;
}

* {
    font-family: 'Roboto Mono', monospace;
}