---
---

@import "native.css";

:root {
    background-color: black;
    color: lightgreen;
    font-family: Roboto, monospace;
    @media screen and (min-width: 576px) {
        padding: 0 20%;
    }
}

header {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    font-size: 1.25rem;
}

a {
    color: floralwhite
}