extends layout.pug
block about
	p
		| I'm a software engineer with almost 10 years of experience in web development, with a particular passion for backend and infrastructures. In my career I have designed, developed and coordinated almost 50 projects, from the simplest showcase sites to complex commercial and management systems for large companies.
	p
		| Performance, best practices, clean code and attention to detail are hallmarks of my work philosophy. I am constantly dedicated to staying up-to-date on the latest technologies and trends in the industry in order to offer innovative and high-quality software solutions that exceed customer expectations.
	p
		| In seventh grade, my father gave me my first laptop, an old company Compaq: it was so slow that it didn't even hold Windows 2000. However, this event marked the beginning of my interest in operating systems, as I decided to experiment with Ubuntu 8, which fueled my deep passion for Unix-like OSes.
	p
		| Thanks to the #[a(target='_blank' rel='noopener' href='https://cyberchallenge.it/') CyberChallenge.IT] project, I discovered the world of cybersecurity and started playing #[abbr(title='Capture The Flag') CTF] competitions. I am currently specializing Software Engineering &amp; in Cybersecurity at Politecnico di Milano.
	p Do you have a project in mind that you would like to realize? #[a.cta(href='mailto:mail@danieleambrosino.it') Contact me and let's talk about it together!]

block experience
	ul
		li
			h3 Winner of Mastertech 2019
			div VarGroup
			time(datetime='2019-05-15') 15/05/2019
			p National hackathon sponsored by Microsoft and Amazon.
		li
			h3 Senior Software Engineer
			div Amore &amp; Vasaturo
			| #[time(datetime='2022-01') January 2022] - #[time today]
			p Software architect and developer; performance, architecture and security reviewer; tutor of a junior developer.
		li
			h3 Chief Technology Officer
			div Tipso
			| #[time(datetime='2020-11') November 2020] - #[time today]
			p Coordination, design and development of a fashion consulting app.
		li
			h3 Full Stack Developer
			div Bidoo
			| #[time(datetime='2020-05') May 2020] - #[time(datetime='2020-10') October 2020]
			p Development of an advanced e-commerce platform parallel to the auction system.
		li
			h3 Software Architect
			div Rankingoal
			| #[time(datetime='2020-07') July 2020] - #[time(datetime='2021-01') January 2021]
			p Design, coordination and development of a SaaS platform for Search Engine Optimization.
		li
			h3 Chairman of the Committee on Information Technology and Communication
			div Rotaract District 2071
			| #[time(datetime='2021-07') July 2021] - #[time(datetime='2022-07') July 2022]

block education
	ul
		li
			h3
				| Master's Degree in Computer Science and Engineering
				br
				| Cybersecurity Track
			div Polytechnic University of Milan
		li
			h3 National finalist of #[a(target='_blank' rel='noopener' href='https://cyberchallenge.it/') CyberChallenge.IT]
		li
			h3 Cyber Security Academy Student
			div Polytechnic University of Milan
		li
			h3 Bachelor's Degree in Computer Engineering
			div University of Florence
		li
			h3 Scientific High School Diploma
			div Liceo Scientifico Statale Antonio Gramsci - Firenze
