extends layout.pug
block about
	p
		| I have always liked to understand how things work down to the smallest detail, and for this reason I began very early to disassemble computers and "fiddle" with Linux-based operating systems, developing the OS knowledge that I still use daily.
		br
		| With the university I approached programming in a systematic way and, in parallel with the study, I began to explore the world of web application development, working as a freelancer.
	p
		| Over time I realized that what I am really passionate about is the possibility of giving concreteness to ideas by designing systems in the simplest, most essential, elegant and solid way possible, both in the backend and in the frontend, taking care of every detail of development, from attention to performance and best practice to rigor in code cleanliness.
		br
		| This web page is a good manifesto of the essentiality and attention to detail that I care so much ☺
		br
		small Feel free to peek into the #[a(href='https://github.com/danieleambrosino/personal-website' target='blank') source code]!
	p
		| For some years, also thanks to the #[a(href="https://cyberchallenge.it" target="_blank") CyberChallenge.IT] project, I discovered the world of cybersecurity and I started playing #[abbr(title="Capture The Flag") CTF] competitions, an extremely stimulating activity not only for the possibility of proactively discovering the functioning and implementation details of many technologies, but also to exploit (and expand) the transversal knowledge of operating systems, networking and programming, encouraging an holistic approach.

block experience
	ul
		li
			h3 Winner of Mastertech 2019
			div VarGroup
			time(datetime='2019-05-15') 15/05/2019
			p National hackathon sponsored by Microsoft and Amazon.
		li
			h3 Senior Software Engineer
			div Amore &amp; Vasaturo
			| #[time(datetime='2022-01') January 2022] - #[time today]
			p Software architect and developer; performance, architecture and security reviewer; tutor of a junior developer.
		li
			h3 Chief Technology Officer
			div Tipso
			| #[time(datetime='2020-11') November 2020] - #[time today]
			p Coordination, design and development of a fashion consulting app.
		li
			h3 Full Stack Developer
			div Bidoo
			| #[time(datetime='2020-05') May 2020] - #[time(datetime='2020-10') October 2020]
			p Development of an advanced e-commerce platform parallel to the auction system.
		li
			h3 Software Architect
			div Rankingoal
			| #[time(datetime='2020-07') July 2020] - #[time(datetime='2021-01') January 2021]
			p Design, coordination and development of a SaaS platform for Search Engine Optimization.
		li
			h3 Chairman of the Committee on Information Technology and Communication
			div Rotaract Distretto 2071
			| #[time(datetime='2021-07') July 2021] - #[time(datetime='2022-07') July 2022]

block education
	ul
		li
			h3
				| Master's Degree in Computer Science and Engineering
				br
				| Cybersecurity Track
			div Polytechnic University of Milan
			| #[time(datetime='2021-09') September 2021] - #[time today]
		li
			h3 National finalist of #[a(target='_blank' href='https://cyberchallenge.it/') CyberChallenge.IT]
			| #[time(datetime='2021-02') February 2021] - #[time(datetime='2021-07') July 2021]
		li
			h3 Cyber Security Academy Student
			div Polytechnic University of Milan
			| #[time(datetime='2021-09') September 2021] - #[time(datetime='2022-01') January 2022]
		li
			h3 Bachelor's Degree in Computer Engineering
			div University of Florence
			| #[time(datetime='2015') 2015] - #[time(datetime='2021') 2021]
		li
			h3 Scientific High School Diploma
			div Liceo Scientifico Statale Antonio Gramsci - Firenze
			| #[time(datetime='2010') 2010] - #[time(datetime='2015') 2015]

block skills
	h3 Backend
	p
		| I am very familiar with the #[em PHP] language, which I have used to develop countless projects. The frameworks I've worked with most frequently are #[em Symfony] and #[em Laravel].
		<br>
		| I know the #[em NodeJS] ecosystem well, I have used #[em Express] for several projects and lately I have used the #[em Deno] runtime for some small software.
		<br>
		| I also used #[em Java] mainly for API development, especially with the #[em Spring] framework.
	p
		| The #[em DBMS] I've worked with the most are #[em PostgreSQL] and #[em MySQL], but on more than one occasion I've also used #[em SQLite] for small projects and embedded systems.
		br
		| I happened to use #[em Redis] as a persistence system for some real-time collaborative applications.
	p
		| I know #[em Telegram] Bot APIs very well, having used them in different circumstances for the development of chatbots.
	p
		I have had the opportunity to work extensively with #[em Python] not only in some projects related to #[abbr(title="Artificial Intelligence") AI], but especially recently thanks to THE CTF, an area in which Python is the de facto scripting language of choice; its conciseness makes it particularly suitable for systematically coding exploits, so knowing it fluently is an almost indispensable requirement.

	h3 Frontend
	p
		| #[em HTML], #[em CSS] and #[em JavaScript] cannot be missing in the knowledge of a web developer. I pay close attention to the semantics of HTML elements (also useful from an #[em #[abbr(title="Search Engine Optimization") SEO]] perspective that is often overlooked), and I try to be as up-to-date as possible on new introductions in these languages.
		br
		| I strongly maintain that there is far <strong>too much JavaScript</strong> on today's web, and that we developers need to be more aware of current web technologies to avoid misusing the tools at our disposal (there is not a single line of JavaScript on this page!).
	p
		| For some highly interactive projects, I used the #[em Svelte] framework.
