doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Software engineer, backend developer, Linux enthusiast, security advocate. Trying to make the world a better place, one app at a time. Let's get in touch!")
		title Daniele Ambrosino - Software Engineer
		link(rel="shortcut icon" href="icon.svg" type="image/svg+xml")
		style !{css}
	body
		header
			h1 Daniele Ambrosino
			h2 Software Engineer
			address
				a(href="mailto:mail@danieleambrosino.it") Email
				|  • 
				a(target="_blank" href="https://github.com/danieleambrosino") GitHub
				|  • 
				a(target="_blank" href="https://www.linkedin.com/in/daniele-ambrosino/") LinkedIn

		main
			img(src="/images/profile.webp" alt="Foto profilo" width="144" height="144")
			p Hi! I'm Daniele, a computer engineer and musician (so I like to believe) born in Naples, raised in Florence and currently living in Milan. I have #[b 10 years of experience in software development], with a focus on backend engineering, software architecture design and database optimization. In my career I have designed, developed or coordinated more than 50 projects, from the simplest showcase sites to complex commercial and management systems for large companies.
			p Performance, best practices, high quality code and attention to detail are hallmarks of my work philosophy. A curious tinkerer at heart with a #[b strong background in Linux systems], I am constantly dedicated to staying up-to-date on the latest technologies and trends in the industry in order to be able to offer #[b innovative, robust, scalable and secure] software solutions that exceed customer expectations.
			p In the last several years I had the opportunity to manage, coordinate and motivate many work groups, which allowed me to refine my #[b teamwork and leadership skills], not only at work but also in associations. <br> I firmly believe that each of us can make a difference in the world and should do our best to help improve society, which is why I have been an active member of #[b Rotaract] since 2018. Among the many roles held, I've served as the #[b Head of IT] for District 2071 (Tuscany) and I have been honored as a Paul Harris Fellow, #[b Rotary International's highest acknowledgement], thanks to the technological initiatives undertaken particularly during the pandemic period.
			p Are you a company looking for a Senior Software Engineer? A startup ready to change the world? Or an association willing to help the community through innovation?
			p.buttons #[a.cta(href='mailto:mail@danieleambrosino.it') Let's get in touch! ✉️] #[a.cta(href="/resume.pdf" download="Daniele_Ambrosino_Resume.pdf") Get my resume ⬇️]

		footer
			| &copy; Daniele Ambrosino 2022-2024
			br
			| P. IVA 07161690487
