extends layout.pug
block about
	p
		| Sono un ingegnere informatico con quasi 10 anni di esperienza nel mondo del web, con una particolare passione per lo sviluppo backend e la progettazione di architetture software. Nella mia carriera ho progettato, sviluppato o coordinato più di 50 progetti, dai più semplici siti vetrina a complessi sistemi commerciali e gestionali per grandi aziende.
	p
		| Performance, best practice di sviluppo, pulizia del codice e attenzione ai dettagli sono tratti distintivi della mia filosofia di lavoro. Mi dedico costantemente a restare aggiornato sulle ultime tecnologie e tendenze del settore per poter offrire soluzioni software innovative e di altissima qualità che superino le aspettative dei clienti.
	p
		| In seconda media mio padre mi regalò il mio primo computer portatile, un vecchio Compaq aziendale: era così lento che non reggeva neanche Windows 2000. Tuttavia, questo evento segnò l'inizio del mio interesse per i sistemi operativi, poiché decisi di sperimentare con Ubuntu 8, che alimentò la mia profonda passione per gli ambienti operativi Unix-like.
	p
		| Grazie al progetto #[a(target='_blank' rel='noopener' href='https://cyberchallenge.it/') CyberChallenge.IT], ho scoperto il mondo della cybersecurity e delle competizioni #[abbr(title='Capture The Flag') CTF]. Mi sto attualmente specializzando in Software Engineering &amp; Cybersecurity presso il Politecnico di Milano.
	p Hai un progetto in mente che vorresti realizzare? #[a.cta(href='mailto:mail@danieleambrosino.it') Contattami e parliamone insieme!]

block experience
	ul
		li
			h3 Vincitore del Mastertech 2019
			div VarGroup
			time(datetime='2019-05-15') 15/05/2019
			p Hackathon nazionale sponsorizzato da Microsoft e Amazon.
		li
			h3 Senior Software Engineer
			div Amore &amp; Vasaturo
			| #[time(datetime='2022-01') gennaio 2022] - #[time oggi]
			p Software architect e sviluppatore; reviewer di performance, architettura e sicurezza; tutor di una risorsa junior.
		li
			h3 Chief Technology Officer
			div Tipso
			| #[time(datetime='2020-11') novembre 2020] - #[time oggi]
			p Coordinamento, design e sviluppo di un'app di consulenza in ambito moda.
		li
			h3 Sviluppatore Full Stack
			div Bidoo
			| #[time(datetime='2020-05') maggio 2020] - #[time(datetime='2020-10') ottobre 2020]
			p Sviluppo di una piattaforma e-commerce avanzata parallela al sistema di aste.
		li
			h3 Software Architect
			div Rankingoal
			| #[time(datetime='2020-07') luglio 2020] - #[time(datetime='2021-01') gennaio 2021]
			p Progettazione, coordinamento e sviluppo di una piattaforma SaaS per la Search Engine Optimization.
		li
			h3 Presidente della commissione informatica e comunicazione
			div Rotaract Distretto 2071
			| #[time(datetime='2021-07') luglio 2021] - #[time(datetime='2022-07') luglio 2022]

block education
	ul
		li
			h3
				| Laurea Magistrale in Computer Science and Engineering
				br
				| Track di Cybersecurity
			div Politecnico di Milano
		li
			h3 Finalista nazionale di #[a(target='_blank' rel='noopener' href='https://cyberchallenge.it/') CyberChallenge.IT]
		li
			h3 Studente della Cyber Security Academy
			div Politecnico di Milano
		li
			h3 Laurea Triennale in Ingegneria Informatica
			div Università degli Studi di Firenze
		li
			h3 Diploma di Liceo Scientifico
			div Liceo Scientifico Statale Antonio Gramsci - Firenze
