@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300 800;
	font-stretch: 100%;
	font-display: swap;
	src: url(/fonts/OpenSans.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--space: 1rem;

	--color-dark: hsl(180, 100%, 1%);
	--color-mid: hsl(180, 100%, 10%);
	--color-light: hsl(180, 100%, 95%);

	--color-background: var(--color-dark);
	--color-text: var(--color-light);

	--line-max-length: 40rem;

	--border-radius: 5px;

	font-family: 'Open Sans', system-ui, sans-serif;

	color-scheme: dark;
	background-color: var(--color-background);
	color: var(--color-text);
}

body {
	max-width: var(--line-max-length);
	margin: auto;
	padding: var(--space);
}

header {
	text-align: center;
}

h1,
h2 {
	margin: 0;
}

address {
	font-style: normal;
}

a {
	color: inherit;
}

img {
	float: left;
	margin-inline-end: var(--space);
	border-radius: var(--border-radius);
}

p {
	text-align: justify;
	line-height: 3ex;
	hyphens: auto;
}

.card {
	border: 0.25em solid var(--color-text);
	padding: 0 var(--space);
	border-radius: var(--border-radius);
	background-color: var(--color-mid);
}

.buttons {
	display: flex;
	gap: var(--space);
	flex-wrap: wrap;
}

a.cta {
	display: block;
	background-color: var(--color-text);
	color: var(--color-background);
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	border-radius: 0.25em;
	padding: calc(var(--space) / 2);
	flex-grow: 1;
}

footer {
	text-align: center;
	font-size: small;
}