danieleambrosino.it {
	root * /var/www/danieleambrosino.it/www/public

	file_server {
		precompressed br
	}

	@assets {
		path_regexp \.(?:woff2|avif|webp|jpeg|svg)$
	}

	header {
		Strict-Transport-Security max-age=31536000
		Content-Security-Policy "default-src 'self'; style-src 'sha256-9d0tayrah6wbRfmaTs2IWe/3/9IPhRYT7WkMYOdIZ9o='"
	}
	header @assets Cache-Control max-age=31536000

	encode br
}

www.danieleambrosino.it {
	redir https://danieleambrosino.it{uri} permanent
}
