danieleambrosino.it {
	root * /var/www/vhosts/danieleambrosino.it/www/public

	file_server {
		index en.html
		precompressed br
	}

	@assets {
		path_regexp \.(?:woff2|avif|webp|jpeg|svg)$
	}
	header @assets Cache-Control max-age=31536000

	header Vary Accept-Language
	@italian {
		header Accept-Language it*
	}
	file_server @italian {
		index it.html
		precompressed br
	}

	encode gzip
}

www.danieleambrosino.it {
	redir https://danieleambrosino.it{uri} permanent
}
